:root {
  --cpd-color-green-900: #0e9876;
  --cpd-color-gray-1400: #eaebee;
  --cpd-color-gray-1300: #d9dbe1;
  --cpd-color-gray-1200: #bdc0c9;
  --cpd-color-gray-1100: #a4a8b4;
  --cpd-color-gray-1000: #9297a4;
  --cpd-color-gray-900: #818694;
  --cpd-color-gray-800: #646a77;
  --cpd-color-gray-700: #494d57;
  --cpd-color-gray-600: #3a3d45;
  --cpd-color-gray-500: #303339;
  --cpd-color-gray-400: #25262b;
  --cpd-color-gray-300: #1b1c1f;
  --cpd-color-gray-200: #17181a;
  --cpd-color-grey-100: #131416;
  --cpd-font-letter-spacing-heading-xl: -0.0216em;
  --cpd-font-letter-spacing-heading-lg: -0.0209em;
  --cpd-font-letter-spacing-heading-md: -0.0195em;
  --cpd-font-letter-spacing-heading-sm: -0.0166em;
  --cpd-font-letter-spacing-body-lg: -0.0128em;
  --cpd-font-letter-spacing-body-md: 0.0088em;
  --cpd-font-letter-spacing-body-sm: 0.0031em;
  --cpd-font-letter-spacing-body-xs: 0.0048em;
  --cpd-font-size-heading-xl: 32px;
  --cpd-font-size-heading-lg: 28px;
  --cpd-font-size-heading-md: 24px;
  --cpd-font-size-heading-sm: 20px;
  --cpd-font-size-body-lg: 17px;
  --cpd-font-size-body-md: 15px;
  --cpd-font-size-body-sm: 13px;
  --cpd-font-size-body-xs: 11px;
  --cpd-font-line-height-regular: 150%;
  --cpd-font-line-height-tight: 125%;
  --cpd-font-line-height-minimum: 100%;
  --cpd-font-weight-bold: 700;
  --cpd-font-weight-semibold: 600;
  --cpd-font-weight-medium: 500;
  --cpd-font-weight-regular: 400;
  --cpd-font-family-mono: Inconsolata;
  --cpd-font-family-sans: Inter;
  --cpd-border-width-0-5: 0.5;
  --cpd-border-width-4: 4;
  --cpd-border-width-2: 2;
  --cpd-border-width-1: 1;
  --cpd-space-0x: 0px;
  --cpd-space-scale: 4px;
  --cpd-color-surface-level-1: var(--cpd-color-gray-200);
  --cpd-color-text-accent: var(--cpd-color-green-900);
  --cpd-color-text-secondary: var(--cpd-color-gray-900);
  --cpd-color-text-primary: var(--cpd-color-gray-1400);
  --cpd-font-heading-xl: var(--cpd-font-weight-regular) var(--cpd-font-size-heading-xl)/var(--cpd-font-line-height-tight) var(--cpd-font-family-sans);
  --cpd-font-heading-lg: var(--cpd-font-weight-regular) var(--cpd-font-size-heading-lg)/var(--cpd-font-line-height-tight) var(--cpd-font-family-sans);
  --cpd-font-heading-md: var(--cpd-font-weight-regular) var(--cpd-font-size-heading-md)/var(--cpd-font-line-height-tight) var(--cpd-font-family-sans);
  --cpd-font-heading-sm: var(--cpd-font-weight-regular) var(--cpd-font-size-heading-sm)/var(--cpd-font-line-height-tight) var(--cpd-font-family-sans);
  --cpd-font-body-lg: var(--cpd-font-weight-regular) var(--cpd-font-size-body-lg)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-md: var(--cpd-font-weight-regular) var(--cpd-font-size-body-md)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-sm: var(--cpd-font-weight-regular) var(--cpd-font-size-body-sm)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-font-body-xs: var(--cpd-font-weight-regular) var(--cpd-font-size-body-xs)/var(--cpd-font-line-height-regular) var(--cpd-font-family-sans);
  --cpd-space-64x: 256px;
  --cpd-space-56x: 22var(--cpd-space-scale);
  --cpd-space-48x: 192px;
  --cpd-space-40x: 160px;
  --cpd-space-36x: 14var(--cpd-space-scale);
  --cpd-space-32x: 128px;
  --cpd-space-28x: 112px;
  --cpd-space-24x: 96px;
  --cpd-space-20x: 80px;
  --cpd-space-16x: 6var(--cpd-space-scale);
  --cpd-space-15x: 60px;
  --cpd-space-14x: 56px;
  --cpd-space-13x: 52px;
  --cpd-space-12x: 48px;
  --cpd-space-11x: 4var(--cpd-space-scale);
  --cpd-space-10x: 40px;
  --cpd-space-9x: 36px;
  --cpd-space-8x: 32px;
  --cpd-space-7x: 28px;
  --cpd-space-6x: 2var(--cpd-space-scale);
  --cpd-space-5x: 20px;
  --cpd-space-4x: 16px;
  --cpd-space-3x: 12px;
  --cpd-space-2x: 8px;
  --cpd-space-1-5x: 6px;
  --cpd-space-1x: var(--cpd-space-scale);
  --cpd-space-0-5x: 2px;
}
