:root {
  --cpd-color-green-900: #125b4a;
  --cpd-color-gray-1400: #1b1c1f;
  --cpd-color-gray-1300: #202125;
  --cpd-color-gray-1200: #2d2f35;
  --cpd-color-gray-1100: #34383f;
  --cpd-color-gray-1000: #40444d;
  --cpd-color-gray-900: #4b505b;
  --cpd-color-gray-800: #6d7381;
  --cpd-color-gray-700: #888f9d;
  --cpd-color-gray-600: #a7adb8;
  --cpd-color-gray-500: #c0c4cc;
  --cpd-color-gray-400: #dadce1;
  --cpd-color-gray-300: #e5e6ea;
  --cpd-color-gray-200: #f0f1f3;
  --cpd-color-grey-100: #f7f8f9;
  --cpd-font-letter-spacing-heading-xl: -0.0216em;
  --cpd-font-letter-spacing-heading-lg: -0.0209em;
  --cpd-font-letter-spacing-heading-md: -0.0195em;
  --cpd-font-letter-spacing-heading-sm: -0.0166em;
  --cpd-font-letter-spacing-body-lg: -0.0128em;
  --cpd-font-letter-spacing-body-md: 0.0088em;
  --cpd-font-letter-spacing-body-sm: 0.0031em;
  --cpd-font-letter-spacing-body-xs: 0.0048em;
  --cpd-font-size-heading-xl: 32px;
  --cpd-font-size-heading-lg: 28px;
  --cpd-font-size-heading-md: 24px;
  --cpd-font-size-heading-sm: 20px;
  --cpd-font-size-body-lg: 17px;
  --cpd-font-size-body-md: 15px;
  --cpd-font-size-body-sm: 13px;
  --cpd-font-size-body-xs: 11px;
  --cpd-font-line-height-regular: 150%;
  --cpd-font-line-height-tight: 125%;
  --cpd-font-line-height-minimum: 100%;
  --cpd-font-weight-bold: 700;
  --cpd-font-weight-semibold: 600;
  --cpd-font-weight-medium: 500;
  --cpd-font-weight-regular: 400;
  --cpd-font-family-mono: Inconsolata;
  --cpd-font-family-sans: Inter;
  --cpd-color-surface-level-1: var(--cpd-color-gray-200);
  --cpd-color-text-accent: var(--cpd-color-green-900);
  --cpd-color-text-secondary: var(--cpd-color-gray-900);
  --cpd-color-text-primary: var(--cpd-color-gray-1400);
  --cpd-font-heading-xl: var(--cpd-font-weight-regular)
    var(--cpd-font-size-heading-xl) / var(--cpd-font-line-height-tight)
    var(--cpd-font-family-sans);
  --cpd-font-heading-lg: var(--cpd-font-weight-regular)
    var(--cpd-font-size-heading-lg) / var(--cpd-font-line-height-tight)
    var(--cpd-font-family-sans);
  --cpd-font-heading-md: var(--cpd-font-weight-regular)
    var(--cpd-font-size-heading-md) / var(--cpd-font-line-height-tight)
    var(--cpd-font-family-sans);
  --cpd-font-heading-sm: var(--cpd-font-weight-regular)
    var(--cpd-font-size-heading-sm) / var(--cpd-font-line-height-tight)
    var(--cpd-font-family-sans);
  --cpd-font-body-lg: var(--cpd-font-weight-regular)
    var(--cpd-font-size-body-lg) / var(--cpd-font-line-height-regular)
    var(--cpd-font-family-sans);
  --cpd-font-body-md: var(--cpd-font-weight-regular)
    var(--cpd-font-size-body-md) / var(--cpd-font-line-height-regular)
    var(--cpd-font-family-sans);
  --cpd-font-body-sm: var(--cpd-font-weight-regular)
    var(--cpd-font-size-body-sm) / var(--cpd-font-line-height-regular)
    var(--cpd-font-family-sans);
  --cpd-font-body-xs: var(--cpd-font-weight-regular)
    var(--cpd-font-size-body-xs) / var(--cpd-font-line-height-regular)
    var(--cpd-font-family-sans);
}
