name: Automation
on:
  pull_request: {}
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Set up Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          cache: yarn
          node-version-file: .node-version
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build
        run: yarn run build-storybook
