#root {
  font-family: 'Inter', Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 50px;
  margin: 0 auto;
  max-width: 600px;
}

table {
  width: 100%;
  text-align: left;
  padding: 0;
}

td + td {
  border-radius: 25px;
  padding: 0 10px;
}